build/
browser/bundle.js
browser/vendor-bundle.js
browser/testdata.js
node_modules/
*.swp
*.swo
*~
.project
README.html
CONTRIBUTING.html
tags
coverage
.DS_Store
docs

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/startcore.iml

.idea/vcs.xml

.idea/workspace.xml

.idea/libraries/startcore_node_modules.xml

.idea/jsLibraryMappings.xml
